.detalhes-container {
  text-align: center;
}

.detalhes-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detalhes-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.detalhes-container p {
  margin-bottom: 5px;
}
